@import '../variables'
@import '../mixins'

.search__bar, .search__list
  transition: all $tempo * 2

.index-shown
  .search__container

    .search__bar, .search__list
      margin: 0
      padding: 0
      transition: all $tempo * 1.5

    .search__bar
      font-size: $body-1
      border: 0px solid transparent
      width: 100%

    .search__list
      max-height: 0
      opacity: 0
      overflow: hidden
