@import '../variables'
  
%__card
  border-radius: 2px
  box-shadow: $shadow-1 
  padding: 3%
  box-sizing: border-box
  transition: all $tempo $bezier-curve
  color: #345
  
.card, .card--no-bg
  @extend %__card
  background: #fff
  color: var(--strong)

.card--no-bg
  background: transparent
  box-shadow: none

.card--clickable
  cursor: pointer
  &:hover
    box-shadow: $shadow-high
    

.card__title
  font-size: $h5
  text-align: left
  display: block
  border: 1px solid transparent

.card--no-padding
  padding: 0

// .card__header
//   width: 100%
//
// .card__body
//   padding: 25px

.card__content
  width: 100%
  padding: 25px

.card--info
  p
    font-size: $body-2
    text-align: left
    margin: 0.5em

    &.p--small
      font-size: $body-3

.card--info-red
  background: $redGradient
  p
    color: white
    font-weight: 600

.card--selected.card--selected
  --strong: white
  --weak: $gray
  background: $orangeGradient
  box-shadow: 0 3px 8px $g__orange
  border: 1px solid #0003


.cn__vertical
  display: flex
  flex-direction: column
  box-sizing: border-box

.cn__row
  display: flex
  margin: 1rem 0

.cn__row--accent
  background: #f8f9fa

.modal
  @extend %__card
  --theme: #fa7354
  --primary: white
  background: var(--theme)
  border-radius: 2px
  position: fixed
  z-index: 1
  top: 100px
  right: 105px
  box-shadow: 0 0 40px -10px #0005
  transition: all $tempo $bezier-curve, max-height 0.7s $bezier-curve, max-width 1s $bezier-curve
  max-height: 0
  max-width: 0
  padding: 0
  overflow: hidden

  .login__input
    opacity: 0

  .modal__item
    width: 95%
    margin: auto
    padding: 20px 0
    font-size: 18px

    &:not(:last-child)
      margin-bottom: 20px


  &.active
    max-height: 100vh
    max-width: 45vw
    .login__input
      color: var(--theme)
      text-align: center
      background: var(--primary)
      opacity: 1
      transition: all $tempo $bezier-curve

.modal__button
  border: 1px solid var(--primary)
  background: var(--theme)
  color: var(--primary)
  margin-left: 0
  margin-right: 0
  text-align: center
  cursor: pointer


.modal__button--alt
  color: var(--theme)
  background: var(--primary)

.modal__item.modal--text
  padding-top: 1px
  padding-bottom: 1px
  color: white


.cart__item
  color: var(--primary)

