@import '../variables'
.card, .card--no-bg
  background: #fff
  border-radius: 2px
  box-shadow: $shadow-1 
  padding: 3%
  box-sizing: border-box
  transition: all $tempo $bezier-curve
  color: var(--strong)

.card--no-bg
  background: transparent
  box-shadow: none


.card--selected.card--selected
  --strong: white
  --weak: $gray
  background: $orangeGradient
  box-shadow: 0 3px 8px $g__orange
  border: 1px solid #0003

.cn__vertical
  display: flex
  flex-direction: column
  box-sizing: border-box

.cn__row
  display: flex
  margin: 1rem 0
