@import './card'

.image-card
  @extend .card
  padding: 0
  background-size: cover
  min-height: 2rem
  height: 100%

.image-row.image-row
  row-gap: 1rem
// .image-card--med
//   width: 25rem
//   height: 25rem


