@import 'variables'
@import 'text'

body
  background: #f8f7fc
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-rendering: optimizeLegibility
  --strong: #0008
  --weak: $gray

.content
  box-sizing: border-box
  padding: 3vmax

.c__input
  outline: none
  border: none
  background: transparent

.flex--col
  display: flex
  flex-direction: column

.flex--row
  display: flex
  flex-direction: row

.gradient--blue
  background-image: $blueGradient

.gradient--orange
  background-image: $orangeGradient

.gradient--purple
  background-image: $purpleGradient

@for $i from 1 through 12 
  .grid-#{$i}
    display: grid
    grid-template-columns: repeat(#{$i}, 1fr)
    row-gap: 2rem

@for $i from 1 through 12
  .col-#{$i}
    grid-column: span $i

.fade-in
  opacity: 0
  animation: fade-in-animation 0.75s $bezier-curve forwards

@for $i from 1 through 10
  .fade-in-list > .fade-in:nth-child(#{$i})
    animation-delay: $i * 0.1s !important

@keyframes fade-in-animation
  from
    opacity: 0
    translate: 0,-2em

  to
    opacity: 1
    translate: 0,0
