@import 'variables'

.button
  --theme: white
  background: $blue
  color: var(--theme)
  margin: 1ch 0
  text-align: center
  cursor: pointer
  padding: 1em
  border-radius: 5px
  box-shadow: 0 3px 18px -4px $blue
  transition: all $tempo
  border: 1px solid transparent
  display: inline-block

  &:not(:last-of-type)
    margin-right: 0.5em

  &:hover
    box-shadow: 0 3px 18px 0px $blue
    border: 1px solid #0003

  &:active
    background: darken($blue, 15%)

  &[disabled]
    box-shadow: 0 3px 18px 0px #0005
    background: gray

.btn--danger
  background: $red
  color: white
  box-shadow: 0 3px 18px -4px $red

  &:hover
    box-shadow: 0 3px 18px 0px $red

.btn--small
  font-size: 11px

.btn--circular
  border-radius: 100%

.icon--button
  cursor: pointer
  display: inline-block

.button-array
  --border-radius: 5px
  min-height: 2ch
  display: flex
  margin: 0 5ch
  color: var(--soft-gray)
  justify-elements: center
  align-items:center
  .btn
    cursor: pointer
    padding: 15px
    height: 25px
    flex-grow: 1
    background: white
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid $soft-gray
    transition: all 0.3s
    &.active
      background: linear-gradient(#974fff, #7c40ff)
      color: white
      border-radius: var(--border-radius)
      height: 45px
      z-index: 1
      box-shadow: 0px 10px 20px 5px #0003
    i
      margin: 0 15px
      font-size: 20px
    &:not(:last-child)
      border-right: none
    &:first-child
      border-top-left-radius: var(--border-radius)
      border-bottom-left-radius: var(--border-radius)
    &:last-child
      border-top-right-radius: var(--border-radius)
      border-bottom-right-radius: var(--border-radius)
