@import 'variables'

.chat__form
  display: flex
  flex-direction: column

.chat__inputs
  background: #f7f7f7

.chat__buttons
  flex-grow: 1
  padding: 0 15px
  .button
    float: right

.chat__messages
  width: 100%
  box-sizing: border-box

.chat__prompt
  flex-grow: 5
  border: none
  outline: none
  height: 1em
  padding: 10px
  font-size: 22px
  box-sizing: content-box
  resize: none
  border: none
  background: transparent

.chat__messages
  height: 20em
  padding: 1em
  overflow: scroll

.chat__bubble
  border-radius: 2em
  background: $red
  color: white
  border: 1px solid #0003
  box-shadow: 0 3px 3px lighten($red, 10%)
  float: left
  clear: both
  padding: 1em
  margin: 0.4em 0
  text-align: left
  max-width: 50%

.msg--self
  background: $blue
  box-shadow: 0 3px 3px lighten($blue, 10%)
  float: right
