.order__list
  padding: 1ch

  .card
    margin: 1ch 0

.order__title
  display: flex
  justify-content: space-between


.order__body
  .order__item

.oc__list

.oc__list-item 
  margin: 1em 0

  span.quad
    width: 25%
    &:nth-child(1)
      text-align: left
    &:nth-child(2)
      text-align: center
    &:nth-child(3)
      text-align: center
    &:nth-child(4)
      text-align: right

  span.triplet
    width: 30%
    &:nth-child(1)
      text-align: left
    &:nth-child(2)
      text-align: center
    &:nth-child(3)
      text-align: right

.order__status-select
  font-size: inherit
  padding: 0
  margin: 0
  border: 0
  background: transparent
  color: inherit
  cursor: pointer
