.order__list
  padding: 1ch

  .card
    margin: 1ch 0

.order__title
  display: flex
  justify-content: space-between


.order__body
  .order__item

.oc__list

.oc__list-item 
  margin: 1em 0

  span.triplet
    width: 30%
    &:nth-child(1)
      text-align: left
    &:nth-child(2)
      text-align: center
    &:nth-child(3)
      text-align: right
