@import 'app'
@import 'mixins'
@import './cards/card'

.search__container
  display: flex
  flex-direction: column
  align-items: center
  vertical-align: middle

.search__bar
  @include responsiveSize(100%, 70%)
  background: transparent
  font-family: $font-family
  border: none
  border-bottom: 4px solid #000
  font-size: 6vw
  outline: none
  line-height: 1
  padding: 0 0 0.1em 0
  font-weight: 500
  margin-bottom: 0.4em
  transition: all $tempo



  &:focus
    border-bottom-width: 6px

  &::placeholder
    color: #969696
    font-weight: 100


.search__list
  @include responsiveSize(100%, 60%)
  padding: 0

.search__option
  @extend .card
  cursor: pointer
  margin-bottom: 5vh
  min-height: 10rem
  font-size: 26px
  font-weight: 700

  &:hover
    box-shadow: $shadow-high
    transform: scale(1.1)







