@import 'variables'

.text__pair
  display: flex

  &:not(:first-child)
    margin: 0 1.5em


.text__pair--ver

.text__key
  margin-right: .25em

.text__value
  color: $gray

p
  color: $gray
  font-size: $font-size * 0.85


.p--right
  text-align: right
