@import 'variables'

.up__list
  padding: 0 2em

.up__li
  margin: 1em

  &:first-child
    margin-left: 0

  &:last-child
    margin-right: 0

.up__search-items
  padding: 15px 0 0 0

.up__search-input
  background: transparent
  border: none
  border-bottom: 1px solid $black
  font-size: 22px
  outline: none

.up__form
  box-sizing: border-box
  display: flex
  padding: 1em

.up__item-form
  box-sizing: border-box
  padding: 1em

  textarea
    min-height: 7em !important
